{% extends 'base.html' %}

{% load thumbnail %}


{% block title %}{{ ad.title }}{% endblock title %}

{% block content %}
  <h1 class="h3 text-center my-4">{{ ad.title }}</h1>
  <div class="row">
    {% for item in ad.imgs.all %}
      <div class="col-md-auto thumb">
        <a data-fancybox="gallery" href="{{ item.img.url }}">
          {% thumbnail item.img "100x100" crop="center" quality=90 as img %}
            <img src="{{ img.url }}">
          {% endthumbnail %}
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Заголовок объявления: {{ ad.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Категория: {{ ad.category.title }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Продавец: {{ ad.seller.seller }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Тэги: {% for tag in ad.tags.all %}<span>{{ tag.title }}, </span>{% endfor %}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Электронная почта продавца: {{ ad.seller.seller.email }}</h6>
    <p class="card-text">{{ ad.description }}</p>
    {% if user.is_authenticated %}
      {% if user.seller.id == ad.seller.id %}
      <a href="{% url 'main:update_ad_url' ad_id=ad.id %}" class="card-link">Редактировать объявление</a>
      {% endif %}
    {% endif %}
    </div>
</div>

{% endblock content %}