
<html>
  <div>
    <p>Вы подписывались на рассылку новых объявлений, принадлежащих категории {{ category.title }}</p>
    <p>Новые объявления за период {{ start_date }} - {{ end_date }}</p>

  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Дата создания объявления</th>
        <th class="text-right">Ссылка на объявление</th>
      </tr>
    </thead>
    <tbody>
      {% for ad in ads %}
      <tr>
        <td class="num text-right">{{ ad.created_at }}</td>
        <td class="num text-right">{{ SITE_URL }}{{ ad.get_absolute_url }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</html>